@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


body {
    background-color: lightyellow;
}
header {
    position: fixed;
    display: flex;
    z-index: 100000;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: lightblue;
    height: 60px;
    width: 100%;   
}
header p {
    text-align: center;
    font-size: 20px;
    color: black;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-weight: 1000;

}


section {
    position: relative;
}
section img#plane {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 80%;
    height: 600px;
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px black;
}

div.bannerContainer #text {
    background-color: white;
    width: 450px;
    height: 350px;
    position: absolute;
    color: black;
    margin-left: 200px;
    margin-top: 120px;
    border-radius: 50px;
    border: 1.5px solid black;
    box-shadow: 4px 5px 3px white;
    line-height: 60px;
}

div#text {
    text-align:center;
      font-family: "Lilita One", sans-serif;
      font-size: 23px;
}

button {
    border-radius: 50px;
    background-color: orange;
    color: black;
    width: 250px;
    height: 50px;
    margin-top: 20px;
}



h1#popular {
    display: block;
    margin-left: 10%;
    margin-top: 100px;
    font-size: 40px;
}

div.cardImages img#placeholder {
    width: 300px;
    height: 400px;
    border-radius: 50px;
    margin-left: 10%;
    display: inline;
}