@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
a {
  font-size: 25px;
  font-weight: 1000;
}
a:hover {
  text-decoration: underline;
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: lightblue;
}
.logo {
  width: 50px;
}
.navLinks {
  display: inline-block;
  padding: 0px 20px;
  word-spacing: 10px;
  letter-spacing: 5px;
}
button#signIn {
  padding: 9px 25px;
  background-color: rgb(8, 8, 8);
  border: none;
  border-radius: 50px;
  color: white;
  transition: all 1.2s ease 0s;
}
button#signIn:hover {
  /* background-color: rgba(0,136,169,0.8); */
  background-color: rgb(240, 121, 9, 1);
  color: black;
}

section {
  position: relative;
}
section img#plane {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80%;
  height: 600px;
  text-align: center;
  border: 3px solid black;
  border-radius: 50px;
  box-shadow: 5px 5px black;
}

div.bannerContainer #text {
  background-color: rgb(248, 248, 238);
  width: 450px;
  height: 350px;
  position: absolute;
  color: black;
  margin-left: 200px;
  margin-top: 120px;
  border-radius: 50px;
  border: 1.5px solid black;
  box-shadow: 4px 5px 3px white;
  line-height: 45px;
}

div#text {
  text-align: center;
  font-family: "Lilita One", sans-serif;
  font-size: 23px;
}
h2#textFlights {
  font-family: "Kaushan Script", cursive;
  letter-spacing: 20px;
  font-weight: 800;
}
/* h2#latin {
    text-shadow: 1px 1px rgb(186, 42, 42);
} */
button.book-now {
  border-radius: 50px;
  background-color: orange;
  color: black;
  width: 250px;
  height: 50px;
  margin-top: 20px;
  transition: all 0.2s ease;
}
button.book-now:hover {
  border: 4px solid black;
}

h1#popular,
h1#tipsHeader {
  display: block;
  margin-left: 10%;
  margin-top: 100px;
  font-size: 40px;
}

/* cards  */
.wrapper {
  position: relative;
  max-width: 77%;
  width: 100%;
  margin-left: 10%;
  margin-top: 30px;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}
.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.arrow.prev {
  left: 0;
}
.arrow.next {
  right: 0;
}
.card-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 280px;
  overflow-x: auto;
  padding: 24px;
  gap: 24px;
  cursor: grab;
  scroll-snap-type: x;
  scroll-padding-inline: 24px;
  scroll-behavior: smooth;
  /* scrollbar-width: none; */
}
.card-wrapper::-webkit-scrollbar {
  display: none;
}
.card-wrapper.grab {
  cursor: grabbing;
  /* user-select: none; */
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.card-item {
  scroll-snap-align: start;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.1);
}
.card-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-info {
  padding: 16px;
  text-align: center;
}
.card-title {
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.card-title:hover {
  color: orange;
}

@media screen and (max-width: 575px) {
  .arrow {
    display: none;
  }
  .card-wrapper {
    margin-left: -16px;
    width: 100vw;
  }
}

section#tips p {
  display: block;
  margin-left: 10%;
}
section#tips h4 {
  display: block;
  margin-left: 10%;
}
div#open {
  width: 95%;
  margin-top: 30px;
}
div#day-of-week,
#cheap-days,
#last-minute,
#look-out {
  width: 95%;
}

/* footer */
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: lightblue;
  padding: 70px 0;
  margin-top: 50px;
}
.footer-col {
  width: 33.3%;
  padding: 0 100px;
}
.footer-col h4 {
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: orange;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  padding-left: 10px;
}

@media (max-width: 767px) {
  section img#plane {
    display: none;
  }
  div.bannerContainer #text {
    margin-left: 150px;
    margin-right: auto;
    box-shadow: 4px 5px 3px black;
  }
  h1#popular {
    margin-top: 600px;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  div.bannerContainer #text {
    margin-left: 70px;
  }
  .footer-col {
    width: 100%;
  }
}
